@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/inter-v18-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v18-latin-700.woff2") format("woff2");
}

:root {
  /* Color Variables */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* Spacing Variables */
  --space-2: 0.5rem; /* 8px */
  --space-3_5: 0.875rem; /* 14px */
  --space-4: 1rem; /* 16px */
  --space-6: 1.5rem; /* 24px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */
  --space-96: 24rem; /* 384px */

  /* Typography Variables */
  --font-sans: "Inter", sans-serif;

  --text-sm: 0.875rem; /* 14px */
  --text-2xl: 1.5rem; /* 24px */

  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Color Scheme */
  color-scheme: dark;
}

body {
  /* Box Model */
  margin: 0;

  /* Typography */
  font-family: var(--font-sans);
  font-size: var(--text-sm);
  color: var(--white);

  /* Visual */
  background-color: var(--grey-900);
}

.profile {
  --inline-space: var(--space-6);

  /* Structure */
  display: grid;
  box-sizing: border-box;

  /* Box Model */
  width: min(100% - calc(2 * var(--inline-space)), var(--space-96));
  margin-inline: auto;
  margin-block: 7.25rem;
  padding: var(--space-6);
  gap: var(--space-6);

  /* Visual */
  background-color: var(--grey-800);
  border-radius: var(--space-2);

  /* Responsive */
  @media (width >= 90em) {
    margin-block: 10.875rem;
    padding: var(--space-10);
  }
}

.profile__header {
  /* Structure */
  display: grid;

  /* Box Model */
  gap: 1.875rem;

  /* Typography */
  text-align: center;
}

.profile__avatar {
  /* Structure */
  display: grid;
  justify-items: center;

  /* Box Model */
  gap: 1.875rem;
  margin-block: 0;
  margin-inline: 0;
}

.profile__avatar-image {
  /* Structure */
  display: block;

  /* Box Model */
  max-width: 100%;
  width: 5.5rem;
  height: auto;

  /* Visual */
  border-radius: 50%;
}

.profile__info {
  /* Structure */
  display: grid;

  /* Box Model */
  gap: var(--space-3_5);
}

.profile__name {
  /* Box Model */
  margin-block: 0;

  /* Typography */
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
}

.profile__location {
  /* Typography */
  font-style: normal;
  font-weight: var(--font-bold);
  color: var(--green);
}

.profile__bio {
  /* Box Model */
  margin-block: 0;
}

.profile__social-list {
  /* Structure */
  display: grid;

  /* Box Model */
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  gap: var(--space-4);
}

.profile__social-link {
  /* Structure */
  display: block;

  /* Box Model */
  padding: var(--space-3_5);

  /* Typography */
  font-weight: var(--font-bold);
  text-align: center;

  /* Visual */
  color: currentColor;
  text-decoration: none;
  background-color: var(--grey-700);
  border-radius: var(--space-2);

  /* Animation */
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus-visible {
    color: var(--grey-900);
    background-color: var(--green);
  }
}

.attribution {
  /* Box Model */
  padding-block-end: var(--space-6);

  /* Typography */
  color: oklch(from var(--white) 60% c h);
  text-align: center;
  text-wrap: balance;
}

.attribution__link {
  /* Typography */
  color: currentColor;
}
